<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="LearnModularity.UI.Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
 <applicationSettings>
  <LearnModularity.UI.Main.Properties.Settings>
   <setting name="LearnModularity_UI_Main_SalaryWebService_SalaryService"
    serializeAs="String">
    <value>http://localhost:14385/SalaryService.asmx</value>
   </setting>
   <setting name="LearnModularity_UI_Main_localhost_TaxService"
    serializeAs="String">
    <value>http://localhost:14385/TaxService.asmx</value>
   </setting>
  </LearnModularity.UI.Main.Properties.Settings>
 </applicationSettings>
</configuration>
